# Purpose of notebook: to zoom in on abortion articles from CNN and Fox News

# 2nd data step

### How to filter to only include Fox and CNN articles

#### OBS pick correct dataframes

In [21]:
# import/load packages

## install
%pip install pandas as pd
%pip install chardet
%pip install cchardet


## import
import os
import pandas as pd
import chardet
import cchardet
import re
from bs4 import BeautifulSoup

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (2.2.2)
ERROR: Could not find a version that satisfies the requirement as (from versions: none)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
ERROR: No matching distribution found for as
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: chardet in /opt/conda/lib/python3.10/site-packages (5.2.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: cchardet in /opt/conda/lib/python3.10/site-packages (2.1.7)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [23]:
# read csv
file_path = "/work/Bachelor/sample_data/dropbox/joined_dataframe/joined_17_05.csv"
joined_17_05 = pd.read_csv(file_path)
joined_17_05

,textID,words,date,country,source,url,title,body
0,18207168,2362,17-05-01,US,Huffington Post,http://www.huffingtonpost.com/entry/a-letter-t...,A letter to parents of expat children,"Parenting is fraught with anxiety, joys, chall..."
1,18207169,343,17-05-01,US,GoLocalProv,http://www.golocalprov.com/business/chafee-ste...,Chafee Steps Up Criticism of Raimondo's Econom...,In a letter sent to members of the Board of th...
2,18207170,257,17-05-01,US,Engadget,https://www.engadget.com/2017/05/01/lab-grown-...,Lab-grown stem cells may carry an increased ri...,If you've followed the latest medical research...
3,18207172,180,17-05-01,US,Northwest Herald,http://www.nwherald.com/2017/04/28/friends-of-...,Friends of McHenry County College Foundation t...,The Friends of McHenry County College Foundati...
4,18207174,630,17-05-01,US,GoLocalProv,http://www.golocalprov.com/politics/guest-mind...,Guest MINDSETTERT James Monteiro: Vote No in R...,I write to go on the record and say that I've ...
...,...,...,...,...,...,...,...,...
26658,18745486,1212,17-05-31,US,OCRegister,http://www.ocregister.com/2017/05/31/rememberi...,Remembering Marilyn Monroe on anniversary of h...,1954: American film star Marilyn Monroe ( 1926...
26659,18745488,424,17-05-31,US,fox4kc.com,http://fox4kc.com/2017/05/31/on-the-two-year-a...,"On the two-year anniversary of his murder, Kan...","RAYTOWN, Mo. -- A 3-year-old's siblings and mo..."
26660,18745489,405,17-05-31,US,FOX 5 Atlanta,http://www.fox5atlanta.com/news/258189601-story,Artists file lawsuit against city of Atlanta o...,ATLANTA - A group of artists have drawn a lega...
26661,18745490,458,17-05-31,US,Q13 FOX,http://q13fox.com/2017/05/31/man-accused-of-ba...,"Man accused of backing truck over 2 men, killi...","MONTESANO, Wash. -- James Walker, 31, of Hoqui..."
26662,18745491,150,17-05-31,US,KSFY,http://www.ksfy.com/content/sports/Brandon-Val...,Brandon Valley senior Jakob Hanna named KSFY/T...,Out to the track for our KSFY/Taco John's Athl...

In [30]:
# filter articles to only have articles from CNN and Fox News
CNN_articles = joined_17_05[joined_17_05['source'] == 'CNN']
Fox_articles = joined_17_05[joined_17_05['source'] == 'Fox News'] #ðŸ‘º there are no fox news articles in the sample, so I'm using 'New York Daily News' as a proxy. Be sure to change in real analysis!!

# combine dfs into a new one
CNN_Fox_articles = pd.concat([CNN_articles, Fox_articles])

# display the new df containing only CNN and Fox News articles
CNN_Fox_articles
#len(CNN_Fox_articles)

,textID,words,date,country,source,url,title,body
128,18209128,530,17-05-01,US,CNN,http://www.cnn.com/2017/05/01/middleeast/mosul...,Exclusive drone footage captures west Mosul in...,"In the raids, Chaim saw how ISIS fighters navi..."
602,18216117,906,17-05-01,US,CNN,http://www.cnn.com/2017/05/01/politics/republi...,GOP on verge of losing health care vote,There is no vote scheduled and it's unclear if...
1247,18229187,1477,17-05-02,US,CNN,http://www.cnn.com/2017/05/02/politics/health-...,"It's do-or-die for Trump, GOP health care bill",House Speaker Paul Ryan can only afford to los...
1389,18232148,226,17-05-02,US,CNN,http://www.cnn.com/2017/05/02/us/trnd---mariju...,Man tries to smuggle 67 pounds of pot into the...,Chat with us in Facebook Messenger. Find out w...
1406,18232776,582,17-05-02,US,CNN,http://www.cnn.com/2017/05/02/politics/hillary...,Hillary Clinton just delivered a stunning indi...,( CNN ) Hillary Clinton had kept a purposely l...
...,...,...,...,...,...,...,...,...
24588,18700902,131,17-05-29,US,Fox News,http://www.foxnews.com/politics/2017/05/29/pre...,President Trump lays wreath at the Tomb of the...,President Trump visited Arlington National Cem...
24662,18702549,471,17-05-29,US,Fox News,http://www.foxnews.com/opinion/2017/05/29/this...,This Memorial Day meet some of the young Ameri...,In recent days we have seen shameful images of...
24955,18709258,290,17-05-29,US,Fox News,http://nation.foxnews.com/2017/05/29/impeachy-...,The Impeachy Keen Political Posturing of Hilla...,Although the choking-at-the-podium gaffe was q...
25093,18711656,647,17-05-30,US,Fox News,http://www.foxnews.com/politics/2017/05/30/as-...,"As the media target Jared Kushner, is the Sens...","In a matter of mere days, Jared Kushner has be..."
25989,18731316,643,17-05-31,US,Fox News,http://www.foxnews.com/politics/2017/05/31/spi...,"Spicer back in action, despite weeks of ceasel...","Shortly after 2 p.m. yesterday, Sean Spicer he..."

In [25]:
# save csv
output_file_path = "/work/Bachelor/sample_data/dropbox/joined_dataframe/CNN_Fox_joined_17_05.csv"
CNN_Fox_articles.to_csv(output_file_path, index=False, encoding='utf-8')

### How to only include articles related to abortion

In [26]:
# Search for rows where the 'text' column contains the word 'abortion'
abortion_articles = CNN_Fox_articles[CNN_Fox_articles['body'].str.contains('abortion', case=False, na=False)]
abortion_articles
#len(abortion_articles) # there's 11 here

,textID,words,date,country,source,url,title,body
9910,18398688,2491,17-05-12,US,CNN,http://www.cnn.com/2017/05/12/health/soundtrac...,Honoring the soundtrack of my mother's life,Chat with us in Facebook Messenger. Find out w...

#### Wider search

In [27]:
# Search for articles with any of the abortion related terms
search_terms = r"abortion|reproductive rights|pro-choice|pro-life|Roe v\. Wade|Dobbs v\. Jackson Women's Health Organization|planned parenthood|family planning"

# Filter articles that contain any of the search terms
abortion_articled_joined_17_05 = CNN_Fox_articles[CNN_Fox_articles['body'].str.contains(search_terms, case=False, na=False, regex=True)] #ðŸ‘º change to the CNN_Fox_articles df. I used text_sources_df because there's no abortion articles among the CNN_Fox_articles

# Display the filtered articles
abortion_articled_joined_17_05
#len(abortion_articles) # there's 14 here compared to 11 when you just search for 'abortion'

,textID,words,date,country,source,url,title,body
9910,18398688,2491,17-05-12,US,CNN,http://www.cnn.com/2017/05/12/health/soundtrac...,Honoring the soundtrack of my mother's life,Chat with us in Facebook Messenger. Find out w...
13156,18460895,590,17-05-15,US,CNN,http://www.cnn.com/2017/05/15/opinions/trump-r...,Psaki: Trump is destroying the trust of our al...,"If allies pull back on intelligence sharing, U..."

In [28]:
# save csv
output_file_path = "/work/Bachelor/sample_data/dropbox/joined_dataframe/abortion_articled_joined_17_05.csv"
abortion_articled_joined_17_05.to_csv(output_file_path, index=False, encoding='utf-8')