### Dataframe preprocessing

In [1]:
# import/load packages

## install
%pip install pandas


## import
import os
import pandas as pd

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# see directory
os. getcwd()

'/work/Bachelor'

### Check that dataframe structures are **proper**

#### database_all.csv

In [2]:
# load data
database_all = pd.read_csv("/work/Bachelor/sample_data/database_all.csv")
print(database_all)

          textID     ID.seq.       wID
0          11241  1095362496  12373811
1          11241  1095362497         6
2          11241  1095362498     26998
3          11241  1095362499    848009
4          11241  1095362500         2
...          ...         ...       ...
1999989  1801240  2677715231      2557
1999990  1801240  2677715232         2
1999991  1801240  2677715233         1
1999992  1801240  2677715234      5931
1999993  1801240  2677715235      1051

[1999994 rows x 3 columns]

##### database_all.csv check!

#### wordLem_poS_all.csv

In [3]:
# load data
wordLem_poS_all = pd.read_csv("/work/Bachelor/sample_data/wordLem_poS_all.csv")
print(wordLem_poS_all)

           textID     ID.seq.        word   lemma           PoS
0           11241  1095362496     @@11241     NaN            fo
1           11241  1095362497         <p>     NaN           NaN
2           11241  1095362498         Sol     sol           np1
3           11241  1095362499      Yurick  yurick           np1
4           11241  1095362500           ,     NaN             ,
...           ...         ...         ...     ...           ...
1959574  15291244  5042404540         See     see           vv0
1959575  15291244  5042404541        full    full        jj_rr%
1959576  15291244  5042404542  commenting     NaN  vvg_jj%_nn1%
1959577  15291244  5042404543       rules    rule           nn2
1959578  15291244  5042404544           .     NaN             .

[1959579 rows x 5 columns]

##### wordLem_poS_all.csv check!

#### text.csv

In [4]:
# load data
text = pd.read_csv("/work/Bachelor/sample_data/text.csv")
print(text)

        textID                                               text
0        11241   Sol Yurick , the writer whose 1965 novel  The...
1        11242   That 's What They Say : Dialect Society choos...
2        11243   A sublime croissant at French Tart in Grant C...
3        11244   Reflecting on a quarter-century of growth in ...
4        21242   Ask Ars : Does Facebook auto-delete content a...
...        ...                                                ...
1502  15281242   Watch out for these fitness and weight loss s...
1503  15281244   Did you know that Prime Minister Narendra Mod...
1504  15291240   Council voted Tuesday to support a new $30 pe...
1505  15291242   News Local <h> $5M funding boost for six proj...
1506  15291244   ? <h> Burrows helps Canucks beat Rangers 5-3 ...

[1507 rows x 2 columns]

##### text.csv check!

#### sources.csv

In [5]:
# load data
sources = pd.read_csv("/work/Bachelor/sample_data/sources.csv")
print(sources)

        textID  X.words        date country                         source  \
0        11241      397  13.01.2006      US                         Kotaku
1        11242      757  13.01.2006      US                 Michigan Radio
2        11243      755  13.01.2006      US            New York Daily News
3        11244     1677  13.01.2006      US                 OregonLive.com
4        21242      794  13.01.2011      US                   Ars Technica
...        ...      ...         ...     ...                            ...
2955  15641240      332  16.11.2029      US  Business Wire (press release)
2956  15641241      226  16.11.2029      US                       Fox News
2957  15641242      230  16.11.2029      US             Firstcoastnews.com
2958  15641243      193  16.11.2029      US           Entertainment Weekly
2959  15651244     1255  16.11.2029      MY            malaysiandigest.com

                                                    url  \
0     http://kotaku.com/5973495/author-of-the-warrio...
1     http://michiganradio.org/post/thats-what-they-...
2     http://www.nydailynews.com/life-style/eats/bes...
3     http://www.oregonlive.com/performance/index.ss...
4     http://arstechnica.com/gadgets/2013/01/ask-ars...
...                                                 ...
2955  http://www.businesswire.com/news/home/20161129...
2956  http://www.foxnews.com/politics/2016/11/29/dep...
2957  http://www.firstcoastnews.com/news/fire-surrou...
2958  http://www.ew.com/article/2016/11/29/alexis-bl...
2959  http://www.malaysiandigest.com/sports/645650-j...

                                                  title
0     Author of The Warriors, Cult Film Adapted to H...
1     That's What They Say: Dialect Society chooses ...
2                           Best of New York: Croissant
3     Reflecting on a quarter-century of growth in P...
4     Ask Ars: Does Facebook auto-delete content aft...
...                                                 ...
2955  Jungle Disk Appoints Matt Bradley to Board of ...
2956  Department of Homeland Security overwhelmed by...
2957  Flames surround Ripley's Aquarium, thousands o...
2958  Alexis Bledel is working on a Sisterhood of th...
2959  Jose Mourinho Has Found An Effective Role For ...

[2960 rows x 7 columns]

##### sources.csv check!

#### lexicon.csv

In [26]:
# load data
lexicon = pd.read_csv("/work/Bachelor/sample_data/lexicon.csv")
print(lexicon)

             wID                   word lemma  PoS
0              1                    the   the   at
1              2                      ,     -    ,
2              3                      .     -    .
3              5                     of    of   io
4              6                    <p>     -  NaN
...          ...                    ...   ...  ...
117562  22673192             @@15291243     -   fo
117563  22676528             $1,449,720     -  nnu
117564  22678576  Multi-Level-Marketing     -   jj
117565  22684339             @@15291244     -   fo
117566  22691461             @@15291242     -   fo

[117567 rows x 4 columns]

##### lexicon.csv check!

#### sample_sources.csv

In [12]:
sample_sources = pd.read_csv("/work/Bachelor/sample_data/sample_sources.csv")
print(sample_sources)

        textID  X.words        date country                         source  \
0        11241      397  13.01.2006      US                         Kotaku
1        11242      757  13.01.2006      US                 Michigan Radio
2        11243      755  13.01.2006      US            New York Daily News
3        11244     1677  13.01.2006      US                 OregonLive.com
4        21242      794  13.01.2011      US                   Ars Technica
...        ...      ...         ...     ...                            ...
2955  15641240      332  16.11.2029      US  Business Wire (press release)
2956  15641241      226  16.11.2029      US                       Fox News
2957  15641242      230  16.11.2029      US             Firstcoastnews.com
2958  15641243      193  16.11.2029      US           Entertainment Weekly
2959  15651244     1255  16.11.2029      MY            malaysiandigest.com

                                                    url  \
0     http://kotaku.com/5973495/author-of-the-warrio...
1     http://michiganradio.org/post/thats-what-they-...
2     http://www.nydailynews.com/life-style/eats/bes...
3     http://www.oregonlive.com/performance/index.ss...
4     http://arstechnica.com/gadgets/2013/01/ask-ars...
...                                                 ...
2955  http://www.businesswire.com/news/home/20161129...
2956  http://www.foxnews.com/politics/2016/11/29/dep...
2957  http://www.firstcoastnews.com/news/fire-surrou...
2958  http://www.ew.com/article/2016/11/29/alexis-bl...
2959  http://www.malaysiandigest.com/sports/645650-j...

                                                  title
0     Author of The Warriors, Cult Film Adapted to H...
1     That's What They Say: Dialect Society chooses ...
2                           Best of New York: Croissant
3     Reflecting on a quarter-century of growth in P...
4     Ask Ars: Does Facebook auto-delete content aft...
...                                                 ...
2955  Jungle Disk Appoints Matt Bradley to Board of ...
2956  Department of Homeland Security overwhelmed by...
2957  Flames surround Ripley's Aquarium, thousands o...
2958  Alexis Bledel is working on a Sisterhood of th...
2959  Jose Mourinho Has Found An Effective Role For ...

[2960 rows x 7 columns]

### OBS: sample_sources.csv looks to be the same as sources.csv, so I'll just use sources.csv

### Merge dataframes

In [7]:
# Merging the DataFrames on 'textID'
text_sources_df = pd.merge(text, sources, on='textID', how='inner')  # 'inner' is default

# Display the merged DataFrame
print(text_sources_df)

        textID                                               text  X.words  \
0        11241   Sol Yurick , the writer whose 1965 novel  The...      397
1        11242   That 's What They Say : Dialect Society choos...      757
2        11243   A sublime croissant at French Tart in Grant C...      755
3        11244   Reflecting on a quarter-century of growth in ...     1677
4        21242   Ask Ars : Does Facebook auto-delete content a...      794
...        ...                                                ...      ...
1480  15281242   Watch out for these fitness and weight loss s...     1028
1481  15281244   Did you know that Prime Minister Narendra Mod...      405
1482  15291240   Council voted Tuesday to support a new $30 pe...      393
1483  15291242   News Local <h> $5M funding boost for six proj...     1000
1484  15291244   ? <h> Burrows helps Canucks beat Rangers 5-3 ...      888

            date country               source  \
0     13.01.2006      US               Kotaku
1     13.01.2006      US       Michigan Radio
2     13.01.2006      US  New York Daily News
3     13.01.2006      US       OregonLive.com
4     13.01.2011      US         Ars Technica
...          ...     ...                  ...
1480  16.11.2008      SG   The Online Citizen
1481  16.11.2008      SG           Catch News
1482  16.11.2008      CA     Edmonton Journal
1483  16.11.2008      CA        Timmins Press
1484  16.11.2008      CA  CFJC Today Kamloops

                                                    url  \
0     http://kotaku.com/5973495/author-of-the-warrio...
1     http://michiganradio.org/post/thats-what-they-...
2     http://www.nydailynews.com/life-style/eats/bes...
3     http://www.oregonlive.com/performance/index.ss...
4     http://arstechnica.com/gadgets/2013/01/ask-ars...
...                                                 ...
1480  http://www.theonlinecitizen.com/2016/11/08/wat...
1481  http://www.catchnews.com/india-news/did-modi-s...
1482  http://edmontonjournal.com/news/local-news/cou...
1483  http://www.timminspress.com/2016/11/08/5m-fund...
1484  http://www.cfjctoday.com/article/547992/burrow...

                                                  title
0     Author of The Warriors, Cult Film Adapted to H...
1     That's What They Say: Dialect Society chooses ...
2                           Best of New York: Croissant
3     Reflecting on a quarter-century of growth in P...
4     Ask Ars: Does Facebook auto-delete content aft...
...                                                 ...
1480  Watch out for these fitness and weight loss sc...
1481  Did Modi silently visit Kashmir? Govts PR arm ...
1482  Council votes for $30 per year Edmonton back a...
1483      $5M funding boost for six projects in Timmins
1484  Burrows helps Canucks beat Rangers 5-3 to end ...

[1485 rows x 8 columns]

### How to filter to only include Fox and CNN articles

In [23]:
# filter articles to only have articles from CNN and Fox News
CNN_articles = text_sources_df[text_sources_df['source'] == 'CNN']
Fox_articles = text_sources_df[text_sources_df['source'] == 'New York Daily News'] #👺 there are no fox news articles in the sample, so I'm using 'New York Daily News' as a proxy. Be sure to change in real analysis!!

# combine dfs into a new one
CNN_Fox_articles = pd.concat([CNN_articles, Fox_articles])

# display the new df containing only CNN and Fox News articles
print(CNN_Fox_articles)

      textID                                               text  X.words  \
734  4411244   First-ever nationwide test of Emergency Alert...     1359
814  4831240   JUST WATCHED <h> Brazilian man ' addicted to ...      289
2      11243   A sublime croissant at French Tart in Grant C...      755
149   901242   That 's because the trio of family-friendly s...      281

           date country               source  \
734  11.11.2008      US                  CNN
814  14.12.2012      US                  CNN
2    13.01.2006      US  New York Daily News
149  12.05.2009      US  New York Daily News

                                                   url  \
734  http://www.cnn.com/2011/11/08/us/emergency-ale...
814  http://www.cnn.com/2014/12/12/world/americas/b...
2    http://www.nydailynews.com/life-style/eats/bes...
149  http://www.nydailynews.com/entertainment/tv-mo...

                                                 title
734  First-ever nationwide test of Emergency Alert ...
814  Brazilian man says he killed dozens of women i...
2                          Best of New York: Croissant
149  Selena Gomez, Vanessa Hudgens are bikini girls...

### How to only include articles related to abortion

In [32]:
# Search for rows where the 'text' column contains the word 'abortion'
abortion_articles = text_sources_df[text_sources_df['text'].str.contains('abortion', case=False, na=False)]
print(abortion_articles)
len(abortion_articles) # there's 11 here

        textID                                               text  X.words  \
14       71242   From Richard III to Johnny Rotten : The chang...     1005
124     791242   Murder of Newborn Babies in Infanticide as Ba...      963
194    1081244   They are investigating why a copse of cypress...      367
258    1461244   PETERBIO A fish called Walter <h> All the kid...      776
331    1801242   First Bank Expands , Acquires Congolese Bank ...      753
655    3991242   In addition , it seeks to strip the agency of...      565
831    7281240   Unjust Indictment Ca n't Hide The Realities O...      618
947    8071243   Leicester  Dreaming  of Title after Latest Wi...      585
1237  13731244   Singapore set to be a truly smart nation <p> ...      336
1266  14041242   State suspends medical license of former Sout...      769
1412  14911240   ' Manva ' : A book that delves deep into mind...      421

            date country                source  \
14    13.02.2006      CA        Globe and Mail
124   12.03.2008      US          LifeNews.com
194   12.08.2014      GB       Telegraph.co.uk
258   10.04.2023      CA  Kawartha Media Group
331   11.10.2013      NG          THISDAY Live
655   11.02.2001      US              NOLA.com
831   16.01.2027      US          Daily Caller
947   16.04.2004      MY           Khmer Times
1237  16.08.2007      SG              MIS Asia
1266  16.08.2026      US    South Bend Tribune
1412  16.10.2017      IN        Times of India

                                                    url  \
14    http://www.theglobeandmail.com/arts/books-and-...
124   http://www.lifenews.com/2012/03/08/murder-of-n...
194   http://www.telegraph.co.uk/news/worldnews/euro...
258   http://www.mykawartha.com/sports-story/3718831...
331   http://www.thisdaylive.com/articles/first-bank...
655   http://www.nola.com/politics/index.ssf/2011/02...
831   http://dailycaller.com/2016/01/27/unjust-indic...
947   http://www.khmertimeskh.com/news/23558/leicest...
1237  http://www.mis-asia.com/tech/networking/singap...
1266  http://www.southbendtribune.com/news/local/sta...
1412  http://timesofindia.indiatimes.com/city/nagpur...

                                                  title
14    From Richard III to Johnny Rotten: The changin...
124   Murder of Newborn Babies in Infanticide as Bad...
194   Researchers consider planting cypress trees to...
258                     PETERBIO | A fish called Walter
331         First Bank Expands, Acquires Congolese Bank
655   Republicans seek to bar EPA regulation of gree...
831   Unjust Indictment Can't Hide The Realities Of ...
947      Leicester "Dreaming" of Title after Latest Win
1237           Singapore set to be a truly smart nation
1266  State suspends medical license of former South...
1412         'Manva': A book that delves deep into mind

11

In [28]:
# make search function smarter

# find abortion lemma
abortion_lemma = lexicon[lexicon['word'] == 'abortion']
print(abortion_lemma)

# okay lol not much has changed

       wID      word     lemma  PoS
5259  5261  abortion  abortion  nn1

In [33]:
# Search for articles with any of the abortion related terms
search_terms = r"abortion|reproductive rights|pro-choice|pro-life|Roe v\. Wade|Dobbs v\. Jackson Women's Health Organization|planned parenthood|family planning"

# Filter articles that contain any of the search terms
abortion_articles = text_sources_df[text_sources_df['text'].str.contains(search_terms, case=False, na=False, regex=True)] #👺 change to the CNN_Fox_articles df. I used text_sources_df because there's no abortion articles among the CNN_Fox_articles

# Display the filtered articles
print(abortion_articles)
len(abortion_articles) # there's 14 here compared to 11 when you just search for 'abortion'

        textID                                               text  X.words  \
14       71242   From Richard III to Johnny Rotten : The chang...     1005
124     791242   Murder of Newborn Babies in Infanticide as Ba...      963
134     821243   Should Canada bring back the death penalty ? ...     4798
194    1081244   They are investigating why a copse of cypress...      367
258    1461244   PETERBIO A fish called Walter <h> All the kid...      776
331    1801242   First Bank Expands , Acquires Congolese Bank ...      753
655    3991242   In addition , it seeks to strip the agency of...      565
831    7281240   Unjust Indictment Ca n't Hide The Realities O...      618
909    7761244   2-PARTY SHAM <h> Will America 's way of life ...     1186
947    8071243   Leicester  Dreaming  of Title after Latest Wi...      585
1176  10111242   Donald Trump 's Republican presidential bid h...      314
1237  13731244   Singapore set to be a truly smart nation <p> ...      336
1266  14041242   State suspends medical license of former Sout...      769
1412  14911240   ' Manva ' : A book that delves deep into mind...      421

            date country                source  \
14    13.02.2006      CA        Globe and Mail
124   12.03.2008      US          LifeNews.com
134   12.03.2026      CA         National Post
194   12.08.2014      GB       Telegraph.co.uk
258   10.04.2023      CA  Kawartha Media Group
331   11.10.2013      NG          THISDAY Live
655   11.02.2001      US              NOLA.com
831   16.01.2027      US          Daily Caller
909   16.03.2017      US               WND.com
947   16.04.2004      MY           Khmer Times
1176  16.01.2019      BD          DhakaTribune
1237  16.08.2007      SG              MIS Asia
1266  16.08.2026      US    South Bend Tribune
1412  16.10.2017      IN        Times of India

                                                    url  \
14    http://www.theglobeandmail.com/arts/books-and-...
124   http://www.lifenews.com/2012/03/08/murder-of-n...
134   http://news.nationalpost.com/full-comment/shou...
194   http://www.telegraph.co.uk/news/worldnews/euro...
258   http://www.mykawartha.com/sports-story/3718831...
331   http://www.thisdaylive.com/articles/first-bank...
655   http://www.nola.com/politics/index.ssf/2011/02...
831   http://dailycaller.com/2016/01/27/unjust-indic...
909   http://www.wnd.com/2016/03/will-americas-way-o...
947   http://www.khmertimeskh.com/news/23558/leicest...
1176  http://www.dhakatribune.com/world/2016/jan/20/...
1237  http://www.mis-asia.com/tech/networking/singap...
1266  http://www.southbendtribune.com/news/local/sta...
1412  http://timesofindia.indiatimes.com/city/nagpur...

                                                  title
14    From Richard III to Johnny Rotten: The changin...
124   Murder of Newborn Babies in Infanticide as Bad...
134         Should Canada bring back the death penalty?
194   Researchers consider planting cypress trees to...
258                     PETERBIO | A fish called Walter
331         First Bank Expands, Acquires Congolese Bank
655   Republicans seek to bar EPA regulation of gree...
831   Unjust Indictment Can't Hide The Realities Of ...
909                                        2-PARTY SHAM
947      Leicester "Dreaming" of Title after Latest Win
1176                 Palin backs Trump for US president
1237           Singapore set to be a truly smart nation
1266  State suspends medical license of former South...
1412         'Manva': A book that delves deep into mind

14