### Dataframe preprocessing

In [1]:
# import/load packages

## install
%pip install pandas


## import
import os
import pandas as pd

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# see directory
os. getcwd()

'/work/Bachelor'

### Check that dataframe structures are **proper**

#### database_all.csv

In [7]:
# load data
database_all = pd.read_csv("/work/Bachelor/sample_data/database_all.csv")
print(database_all)

          textID     ID.seq.       wID
0          11241  1095362496  12373811
1          11241  1095362497         6
2          11241  1095362498     26998
3          11241  1095362499    848009
4          11241  1095362500         2
...          ...         ...       ...
1999989  1801240  2677715231      2557
1999990  1801240  2677715232         2
1999991  1801240  2677715233         1
1999992  1801240  2677715234      5931
1999993  1801240  2677715235      1051

[1999994 rows x 3 columns]

##### database_all.csv check!

#### wordLem_poS_all.csv

In [6]:
# load data
wordLem_poS_all = pd.read_csv("/work/Bachelor/sample_data/wordLem_poS_all.csv")
print(wordLem_poS_all)

           textID     ID.seq.        word   lemma           PoS
0           11241  1095362496     @@11241     NaN            fo
1           11241  1095362497         <p>     NaN           NaN
2           11241  1095362498         Sol     sol           np1
3           11241  1095362499      Yurick  yurick           np1
4           11241  1095362500           ,     NaN             ,
...           ...         ...         ...     ...           ...
1959574  15291244  5042404540         See     see           vv0
1959575  15291244  5042404541        full    full        jj_rr%
1959576  15291244  5042404542  commenting     NaN  vvg_jj%_nn1%
1959577  15291244  5042404543       rules    rule           nn2
1959578  15291244  5042404544           .     NaN             .

[1959579 rows x 5 columns]

##### wordLem_poS_all.csv check!

#### text.csv

In [8]:
# load data
text = pd.read_csv("/work/Bachelor/sample_data/text.csv")
print(text)

        textID                                               text
0        11241   Sol Yurick , the writer whose 1965 novel  The...
1        11242   That 's What They Say : Dialect Society choos...
2        11243   A sublime croissant at French Tart in Grant C...
3        11244   Reflecting on a quarter-century of growth in ...
4        21242   Ask Ars : Does Facebook auto-delete content a...
...        ...                                                ...
1502  15281242   Watch out for these fitness and weight loss s...
1503  15281244   Did you know that Prime Minister Narendra Mod...
1504  15291240   Council voted Tuesday to support a new $30 pe...
1505  15291242   News Local <h> $5M funding boost for six proj...
1506  15291244   ? <h> Burrows helps Canucks beat Rangers 5-3 ...

[1507 rows x 2 columns]

##### text.csv check!

#### sources.csv

In [10]:
# load data
sources = pd.read_csv("/work/Bachelor/sample_data/sources.csv")
print(sources)

        textID  X.words        date country                         source  \
0        11241      397  13.01.2006      US                         Kotaku
1        11242      757  13.01.2006      US                 Michigan Radio
2        11243      755  13.01.2006      US            New York Daily News
3        11244     1677  13.01.2006      US                 OregonLive.com
4        21242      794  13.01.2011      US                   Ars Technica
...        ...      ...         ...     ...                            ...
2955  15641240      332  16.11.2029      US  Business Wire (press release)
2956  15641241      226  16.11.2029      US                       Fox News
2957  15641242      230  16.11.2029      US             Firstcoastnews.com
2958  15641243      193  16.11.2029      US           Entertainment Weekly
2959  15651244     1255  16.11.2029      MY            malaysiandigest.com

                                                    url  \
0     http://kotaku.com/5973495/author-of-the-warrio...
1     http://michiganradio.org/post/thats-what-they-...
2     http://www.nydailynews.com/life-style/eats/bes...
3     http://www.oregonlive.com/performance/index.ss...
4     http://arstechnica.com/gadgets/2013/01/ask-ars...
...                                                 ...
2955  http://www.businesswire.com/news/home/20161129...
2956  http://www.foxnews.com/politics/2016/11/29/dep...
2957  http://www.firstcoastnews.com/news/fire-surrou...
2958  http://www.ew.com/article/2016/11/29/alexis-bl...
2959  http://www.malaysiandigest.com/sports/645650-j...

                                                  title
0     Author of The Warriors, Cult Film Adapted to H...
1     That's What They Say: Dialect Society chooses ...
2                           Best of New York: Croissant
3     Reflecting on a quarter-century of growth in P...
4     Ask Ars: Does Facebook auto-delete content aft...
...                                                 ...
2955  Jungle Disk Appoints Matt Bradley to Board of ...
2956  Department of Homeland Security overwhelmed by...
2957  Flames surround Ripley's Aquarium, thousands o...
2958  Alexis Bledel is working on a Sisterhood of th...
2959  Jose Mourinho Has Found An Effective Role For ...

[2960 rows x 7 columns]

##### sources.csv check!

#### lexicon.csv

In [11]:
# load data
lexicon = pd.read_csv("/work/Bachelor/sample_data/lexicon.csv")
print(lexicon)

             wID                   word lemma  PoS
0              1                    the   the   at
1              2                      ,     -    ,
2              3                      .     -    .
3              5                     of    of   io
4              6                    <p>     -  NaN
...          ...                    ...   ...  ...
117562  22673192             @@15291243     -   fo
117563  22676528             $1,449,720     -  nnu
117564  22678576  Multi-Level-Marketing     -   jj
117565  22684339             @@15291244     -   fo
117566  22691461             @@15291242     -   fo

[117567 rows x 4 columns]

##### lexicon.csv check!

#### sample_sources.csv

In [12]:
sample_sources = pd.read_csv("/work/Bachelor/sample_data/sample_sources.csv")
print(sample_sources)

        textID  X.words        date country                         source  \
0        11241      397  13.01.2006      US                         Kotaku
1        11242      757  13.01.2006      US                 Michigan Radio
2        11243      755  13.01.2006      US            New York Daily News
3        11244     1677  13.01.2006      US                 OregonLive.com
4        21242      794  13.01.2011      US                   Ars Technica
...        ...      ...         ...     ...                            ...
2955  15641240      332  16.11.2029      US  Business Wire (press release)
2956  15641241      226  16.11.2029      US                       Fox News
2957  15641242      230  16.11.2029      US             Firstcoastnews.com
2958  15641243      193  16.11.2029      US           Entertainment Weekly
2959  15651244     1255  16.11.2029      MY            malaysiandigest.com

                                                    url  \
0     http://kotaku.com/5973495/author-of-the-warrio...
1     http://michiganradio.org/post/thats-what-they-...
2     http://www.nydailynews.com/life-style/eats/bes...
3     http://www.oregonlive.com/performance/index.ss...
4     http://arstechnica.com/gadgets/2013/01/ask-ars...
...                                                 ...
2955  http://www.businesswire.com/news/home/20161129...
2956  http://www.foxnews.com/politics/2016/11/29/dep...
2957  http://www.firstcoastnews.com/news/fire-surrou...
2958  http://www.ew.com/article/2016/11/29/alexis-bl...
2959  http://www.malaysiandigest.com/sports/645650-j...

                                                  title
0     Author of The Warriors, Cult Film Adapted to H...
1     That's What They Say: Dialect Society chooses ...
2                           Best of New York: Croissant
3     Reflecting on a quarter-century of growth in P...
4     Ask Ars: Does Facebook auto-delete content aft...
...                                                 ...
2955  Jungle Disk Appoints Matt Bradley to Board of ...
2956  Department of Homeland Security overwhelmed by...
2957  Flames surround Ripley's Aquarium, thousands o...
2958  Alexis Bledel is working on a Sisterhood of th...
2959  Jose Mourinho Has Found An Effective Role For ...

[2960 rows x 7 columns]

### OBS: sample_sources.csv looks to be the same as sources.csv, so I'll just use sources.csv